
<div class="grid  grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-3">
    <!-- Pokemon Card-->
     @for( pokemon of '12345678910'.split(''); track $index){
        <div class="bg-white/25 h-44 rounded-lg shadow-md flex flex-col items-center p-5 cursor-pointer">
            <div class="rounded-full animate-pulse bg-gray-300 w-24 h-24"></div>
            <div class="flex text-center mt-5 ">
                <div class="h-4 w-26 bg-gray-300 rounded animate-pulse"></div>                            
            </div>
        </div>
     }
     

</div>
