<nav
class="top-0 absolute z-50 w-full flex justify-end gap-6 px-2 py-3 bg-slate-900 text-white shadow-md">
<a routerLink="/about"    routerLinkActive="text-blue-500 underline" class="hover:underline cursor-pointer  text-2xl font-bold leading-none">About</a>
<a routerLink="/pricing"  routerLinkActive="text-blue-500 underline" class="hover:underline cursor-pointer  text-2xl font-bold leading-none">Pricing</a>
<a routerLink="/contact"  routerLinkActive="text-blue-500 underline" class="hover:underline cursor-pointer  text-2xl font-bold leading-none">Contact</a>
</nav>
